data = {
    name = "en-ro"
    sides = {
        source = "en"
        target = "ro"
    }
    input_paths = {
        source = "Corpora/test.en-ro.en"
        target = "Corpora/test.en-ro.ro"
    }
    output_paths = {
        hypothesis = "Translation/test.en-ro.hyp"
    }
    batch_size = 32
    batch_type = "sentence"
    checkpoint_path = "Checkpoint/seq2seq_en-ro_best.cp"
}
logger = {
    name = "generate"
    path = "generate_"${binaries.generate.data.name}"_"${binaries.generate.generator}".log"
}
generator = "seq2seq"
