name = "wait_k"
normalization_type = "token"
life_cycle = 30000
wait_time = 7
report_period = 1
training_period = 1000
validation_period = 1000
training_criterion = {
    name = "label_smoothing_cross_entropy"
    label_smoothing_percent = 0.1
}
validation_criterion = {
    name = "cross_entropy"
}
checkpoints = {
    name = "wait-k_en-ro"
    directory = "Checkpoints"
    keep_number = 100
}
