data_directory = "Data"
logging_path = ""
number_worker = 16
number_slice = 4
language = {
    source = "en"
    target = "de"
}
train_corpora_path{
    source = "Corpora/train.en-de.en"
    target = "Corpora/train.en-de.de"
}
valid_corpora_path{
    source = "Corpora/valid.en-de.en"
    target = "Corpora/valid.en-de.de"
}
vocabulary: {
    share = True
    size = 32768
    source_size = 32768
    target_size = 32768
}
