user_defined_modules_directory = ""

serve_type = "app"
device = "GPU"

checkpoint_path = "checkpoint_for_serving.cp"

factory = {
    name = "bilingual"
    args = { include "../../factories/bilingual.hocon" }
}
tester = {
    name = "transformer"
    args = { include "../../testers/transformer.hocon" }
}
server = {
    name = "transformer"
    args = { include "../../servers/transformer.hocon" }
}
logger = {
    name = "wmt16ende_serve_transformer"
    path = "wmt16ende_serve_transformer.log"
    off = False
    console_report = True
}
